<%- include("../includes/header.ejs", {title:"Department - View All"}); %>

<h1>Departments</h1>
<a href="/department/add">Add New Department</a> <br />

<br />

<table border="1">
    <tr><th>Name</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/department/?department_id=<%= result[i].department_id %>"><%= result[i].department_name %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/department/edit/?department_id=<%= result[i].department_id %>'">Edit</button>
            <form action="/department/delete/" style="display:inline;">
                <input type="hidden" name="department_id" id="department_id" value="<%= result[i].department_id %>" />
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    <% } %>
</table>

<br/>
<a href="/">Home</a> <br/>

<%- include("../includes/footer.ejs"); %>