<%- include("../includes/header.ejs", {title: "Update " }); %>

<h1>Update <%=department.department_name%> </h1>
<form action="/department/update" method="get">
    <input type="hidden" id="department_id" name="department_id" value="<%= department.department_id %>">

    Department: <input id="department_name" name="department_name" type="text" value="<%= department.department_name%>"/>
    <br />
    <br />

    <input type="submit" value="update"/>


</form>

<%- include("../includes/footer.ejs"); %>

</html>