<%- include("../includes/header.ejs", {title:"Departments - " + result[0].animal_name}); %>
<h1>Department</h1>
<ul>
    <li> Animals: <%= result[0].animal_name %><%= ", " %><%= result[0].species %></li>
</ul>

<a href="/department/all"><< back</a>

<%- include("../includes/footer.ejs"); %>