<%- include("../includes/header.ejs", {title:"Add New Department"}); %>

<h1>Add New Department</h1>
<form action="/department/insert" method="get">
    Name: <input id="department_name" name="department_name" type="text" />
    <br />
    <br />

    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>