<%- include("./includes/header.ejs", {title: title}); %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="/department/all">Departments - View All</a><br />
    <a href="/caretaker/all">Caretakers - View All</a><br />
    <a href="/animal/all">Animals - View All</a><br />
    <a href="/duty/all">Duties - View All</a><br /><br />
    <a href="/about">About Us</a><br />

<%- include("./includes/footer.ejs"); %>
