<%- include("../includes/header.ejs", {title: "Duty " }); %>

<h1>Update <%=duty.duty_name%> </h1>
<form action="/duty/update" method="get">
    <input type="hidden" id="duty_id" name="duty_id" value="<%= duty.duty_id %>">

    Duty: <input id="duty_name" name="duty_name" type="text" value="<%= duty.duty_name%>"/>
    <br />
    <br />
    Description: <input id ="description" name ="description" type="text" value="<%= duty.description%>" />
    <br />
    <br />

    <input type="submit" value="update"/>

</form>

<%- include("../includes/footer.ejs"); %>

</html>