<%- include("../includes/header.ejs", {title:"Duty - View All"}); %>

<h1>Duties</h1>
<a href="/duty/add">Add New Duty</a> <br />

<br />

<table border="1">
    <tr><th>Name</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/duty/?duty_id=<%= result[i].duty_id %>"><%= result[i].duty_name %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/duty/edit/?duty_id=<%= result[i].duty_id %>'">Edit</button>
            <form action="/duty/delete/" style="display:inline;">
                <input type="hidden" name="duty_id" id="duty_id" value="<%= result[i].duty_id %>" />
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    <% } %>
</table>

<br/>
<a href="/">Home</a> <br/>

<%- include("../includes/footer.ejs"); %>