<%- include("../includes/header.ejs", {title:"Add New Duty"}); %>

<h1>Add New Duty</h1>
<form action="/duty/insert" method="get">
    Name: <input id="duty_name" name="duty_name" type="text" />
    <br />
    <br />
    Description: <input id="description" name="description" type="text" />
    <br />
    <br />

    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>