<%- include("../includes/header.ejs", {title:"Duty - " + result[0].duty_name}); %>
<h1>Description</h1>
<ul>
    <li> Duty: <%= result[0].duty_name %></li>
    <li> Description: <%= result[0].description %></li>
</ul>

<a href="/duty/all"><< back</a>

<%- include("../includes/footer.ejs"); %>