<%- include("../includes/header.ejs", {title:"About Us"}); %>

<h1>About Us</h1>

<p>
    This website is accessible only by zoo personnel.
    This is where you can manage the logistics in management. You will be able to schedule animal caretakers
    for their duties. You can specify their duty and assign their department such as reptile or
    aquatic. Through this database, you will also be able to look up the animals currently a part of
    the zoo as well as the department they are being held in. The database will allow you to add new
    employees/caretakers as well as register new animals that come in. Not only that, but anytime you
    would like to specify a new duty to assign to a caretaker or view all the duties currently assigned,
    you can do that too. This is a great template for any other employee management tool as well.
</p>

<br/>
<br/>

<a href="/images/ER_Diagram.jpeg"> My Relational Schemas</a>
<br/>
<a href="/images/Entity_Relationship.jpeg">My ER Diagram</a>
<br/>
<br/>
<a href="/">Home</a> <br/>
<br/>
<%- include("../includes/footer.ejs"); %>

