<%- include("../includes/header.ejs", {title: "Update " }); %>

<h1>Update <%=animal.animal_name%> </h1>
<form action="/animal/update" method="get">
    <input type="hidden" id="animal_id" name="animal_id" value="<%= animal.animal_id %>">

    Name: <input id="animal_name" name="animal_name" type="text" value="<%= animal.animal_name%>"/>
    <br />
    <br />
    Species: <input id="species" name="species" type="text" value="<%= animal.species%>"/>
    <br />
    <br />
    Sex: <input id="sex" name="sex" type="text" value="<%= animal.sex%>"/>
    <br />
    <br />
    Diet: <input id="diet" name="diet" type="text" value="<%= animal.diet%>"/>
    <br />
    <br />

    <input type="submit" value="update"/>

</form>

<%- include("../includes/footer.ejs"); %>

</html>