<%- include("../includes/header.ejs", {title:"Animal - " + result[0].animal_name}); %>
<h1>Animal Information</h1>
<ul>
    <li> Name: <%= result[0].animal_name %></li>
    <li> Species: <%= result[0].species %></li>
    <li> Species: <%= result[0].sex %></li>
    <li> Species: <%= result[0].diet %></li>
</ul>

<a href="/animal/all"><< back</a>

<%- include("../includes/footer.ejs"); %>