<%- include("../includes/header.ejs", {title:"Animal - View All"}); %>

<h1>Animals</h1>
<a href="/animal/add">Add New Animal</a> <br />

<br />

<table border="1">
    <tr><th>Name</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/animal/?animal_id=<%= result[i].animal_id %>"><%= result[i].animal_name %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/animal/edit/?animal_id=<%= result[i].animal_id %>'">Edit</button>
            <form action="/animal/delete/" style="display:inline;">
                <input type="hidden" name="animal_id" id="animal_id" value="<%= result[i].animal_id %>" />
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    <% } %>
</table>

<br/>
<a href="/">Home</a> <br/>

<%- include("../includes/footer.ejs"); %>