<%- include("../includes/header.ejs", {title:"Add New Animal"}); %>

<h1>Add New Animal</h1>
<form action="/animal/insert" method="get">
    Name: <input id="animal_name" name="animal_name" type="text" />
    <br />
    <br />
    Species: <input id="species" name="species" type="text" />
    <br />
    <br />
    Sex: <input id="sex" name="sex" type="text" />
    <br />
    <br />
    Diet: <input id="diet" name="diet" type="text" />
    <br />
    <br />

    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>