<%- include("../includes/header.ejs", {title:"Caretaker - View All"}); %>

<h1>Caretakers</h1>
<a href="/caretaker/add">Add New Caretaker</a> <br />

<br />

<table border="1">
    <tr><th>Name</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/caretaker/?caretaker_id=<%= result[i].caretaker_id %>"><%= result[i].first_name %><%= ", " %><%= result[i].last_name %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/caretaker/edit/?caretaker_id=<%= result[i].caretkaer_id %>'">Edit</button>
            <form action="/caretaker/delete/" style="display:inline;">
                <input type="hidden" name="caretaker_id" id="caretaker_id" value="<%= result[i].caretaker_id %>" />
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    <% } %>
</table>

<br/>
<a href="/">Home</a> <br/>

<%- include("../includes/footer.ejs"); %>