<%- include("../includes/header.ejs", {title:"Caretaker - " + result[0].department_name}); %>
<h1>Caretaker Information</h1>
<ul>
    <li> Department: <%= result[0].department_name %></li>
</ul>

<a href="/caretaker/all"><< back</a>

<%- include("../includes/footer.ejs"); %>