<%- include("../includes/header.ejs", {title: "Update " }); %>

<h1>Update <%=caretaker.first_name%> </h1>
<form action="/caretaker/update" method="get">
    <input type="hidden" id="caretaker_id" name="caretaker_id" value="<%= caretaker.caretaker_id %>">

    Email: <input id="email" name="email" type="text" value="<%= caretaker.email%>"/>
    <br />
    <br />
    First Name: <input id="first_name" name="first_name" type="text" value="<%= caretaker.first_name%>"/>
    <br />
    <br />
    Email: <input id="last_name" name="last_name" type="text" value="<%= caretaker.last_name%>"/>
    <br />
    <br />

    <input type="submit" value="update"/>


</form>

<%- include("../includes/footer.ejs"); %>

</html>